:root {
  --black: #202020;
  --accent: #384ef8;
  --grey-white: #efefef;
  --transparent: #0000;
  --white: white;
  --pastel-lilac: #dac0f3;
  --pastel-yellow: #fffbb2;
  --accent-light: #384ef833;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

body {
  color: var(--black);
  background-color: #d8d8d8;
  font-family: Font, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 38px;
  font-weight: 400;
  line-height: 44px;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 1.2;
}

p {
  margin-bottom: 10px;
}

.cursor-wrapper {
  z-index: 100;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  inset: 0%;
}

.cursor-button {
  z-index: 1;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: var(--accent);
  color: #fff;
  letter-spacing: .5px;
  white-space: nowrap;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding-top: 2px;
  display: flex;
  position: absolute;
}

.overflow-wrapper {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.txt-on-hover {
  line-height: 2.5;
  position: absolute;
}

.button-overlay {
  z-index: -1;
  opacity: 1;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #ffffff57;
  position: absolute;
  inset: 0%;
}

.txt-first {
  color: var(--black);
  line-height: 2.5;
}

.navbar {
  z-index: 99;
  background-color: #0000;
  position: fixed;
  inset: 0% 0% auto;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.nav-left-wrap {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.nav-logo {
  text-align: center;
}

.hero-wrap {
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0;
}

.nav-container {
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px 16px 24px;
  display: flex;
  position: relative;
}

.navlink {
  -webkit-backdrop-filter: saturate(150%) blur(5px);
  backdrop-filter: saturate(150%) blur(5px);
  color: #1a1a1a;
  letter-spacing: .3px;
  text-transform: uppercase;
  background-color: #ffffff4d;
  border-radius: 100px;
  padding-left: 18px;
  padding-right: 18px;
  font-family: DM Sans, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.navlink.w--current {
  clear: none;
  color: #1a1a1a;
}

.navlink.navlink-mobile-only {
  display: none;
}

.section {
  z-index: 1;
  position: relative;
}

.section.s-hero {
  padding-top: 200px;
}

.section.s-about {
  padding-top: 230px;
  overflow: hidden;
}

.section.s-contact {
  padding-top: 230px;
}

.navmenu {
  grid-column-gap: 3px;
  justify-content: center;
  display: flex;
}

.fs-cc-prefs_space-small {
  margin-bottom: .75rem;
}

.fs-cc-prefs_component {
  z-index: 997;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  padding: 16px;
  font-family: DM Sans, sans-serif;
  display: none;
  position: fixed;
  inset: 0%;
}

.fs-cc-prefs_checkbox {
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-left: 0;
  position: absolute;
  inset: 0%;
}

.fs-cc-prefs_content {
  height: 100%;
  padding: 32px;
  overflow: scroll;
}

.fs-cc-prefs_close {
  z-index: 1;
  cursor: pointer;
  padding: 8px;
  position: absolute;
  inset: 4px 4px auto auto;
}

.fs-cc-manager_trigger {
  display: none;
}

.fs-cc-banner_text-link {
  color: #868686;
}

.fs-cc-banner_text-link:hover {
  color: var(--black);
}

.fs-cc-banner_buttons-wrapper {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex: none;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-auto-columns: 1fr;
  display: flex;
}

.fs-cc-prefs_toggle-wrapper {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
  display: flex;
}

.fs-cc-prefs_option {
  border-bottom: 1px solid #33333326;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.fs-cc-prefs_overlay {
  z-index: -1;
  background-color: #2020204d;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.fs-cc-prefs_label {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 2rem;
  font-weight: 400;
}

.fs-cc-banner_trigger {
  display: none;
}

.fs-cc-prefs_button {
  border: 2px solid var(--black);
  background-color: var(--black);
  text-align: center;
  border-radius: 999rem;
  padding: 12px 24px;
}

.fs-cc-prefs_button.fs-cc-button-alt {
  color: var(--black);
  background-color: #fff;
}

.fs-cc-banner_text {
  font-weight: 400;
}

.fs-cc-prefs_text {
  color: #686868;
  font-size: .875rem;
}

.fs-cc-prefs_text.prerf-txt-blk {
  color: var(--black);
}

.fs-cc-prefs_toggle {
  background-color: #fff;
  border-radius: 999px;
  width: 1.25rem;
  height: 1.25rem;
}

.fs-cc-banner_container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: row;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.fs-cc-prefs_form {
  background-color: #fff;
  border-radius: 1rem;
  width: 100%;
  max-width: 36rem;
  height: 100%;
  max-height: 70vh;
  margin-bottom: 0;
  position: relative;
}

.fs-cc-prefs_submit-hide {
  display: none;
}

.fs-cc-prefs_close-icon {
  width: 1rem;
  height: 1rem;
}

.fs-cc-prefs_checkbox-field {
  background-color: #ccc;
  border-radius: 999rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 2.75rem;
  height: 1.5rem;
  margin-bottom: 0;
  padding: .125rem;
  display: flex;
  position: relative;
}

.fs-cc-prefs_space-medium {
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  flex-flow: column;
  margin-top: 22px;
  display: flex;
}

.fs-cc-prefs_trigger {
  display: none;
}

.fs-cc-banner_button {
  background-color: var(--transparent);
  color: #868686;
  padding: 0;
}

.fs-cc-banner_button:hover {
  color: var(--black);
}

.fs-cc-banner_component {
  z-index: 998;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: #ffffff80;
  border-radius: 16px;
  padding: 16px 24px 11px;
  font-family: DM Sans, sans-serif;
  display: none;
  position: fixed;
  inset: auto 24px 24px auto;
}

.fs-cc-prefs_checkbox-label {
  display: none;
}

.logo {
  color: var(--black);
  text-align: center;
  letter-spacing: .3px;
  text-transform: uppercase;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  font-family: DM Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  display: flex;
  position: absolute;
  inset: auto 0%;
}

.heading-xl {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Nikkei, sans-serif;
  font-size: 6rem;
  font-weight: 700;
  line-height: .9;
}

.scroll-wrap {
  height: 190vh;
}

.home-photo-wrap {
  justify-content: center;
  align-items: center;
  height: 80vh;
  display: flex;
}

.home-portrait {
  z-index: 5;
  object-fit: cover;
  border-radius: 8px;
  height: 400px;
  position: relative;
  transform: rotate(-4deg);
}

.home-intro-wrap {
  text-align: center;
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.body-l {
  margin-bottom: 24px;
  font-size: 2.5rem;
  line-height: 1.4;
}

.heading-l {
  text-transform: uppercase;
  font-family: Nikkei, sans-serif;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
}

.project-block {
  z-index: 1;
  grid-column-gap: 1.5vw;
  grid-row-gap: 1.5vw;
  text-align: center;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  padding: 32px;
  text-decoration: none;
  display: flex;
  position: sticky;
  top: 20vh;
  overflow: hidden;
}

.project-title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Nikkei, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
}

.home-services-block {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  text-align: center;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-top: 180px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.heading-s {
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: Nikkei, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

.body-m {
  font-size: 1.65rem;
}

.body-m.txt-testimonials {
  font-size: 1.25rem;
}

.body-m.txt-600 {
  max-width: 600px;
}

.feedback-wrap {
  border: 1px solid #2020201a;
  border-radius: 12px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 32px;
  display: flex;
}

.feedback-wrap.bg-1 {
  background-color: #38b5f845;
}

.feedback-wrap.bg-2 {
  background-color: #b469ff4d;
}

.feedback-wrap.bg-3 {
  background-color: #ffb7004d;
}

.feedback-wrap.bg-4 {
  background-color: #ff6b954d;
}

.feedback-wrap.bg-5 {
  background-color: #384ef838;
}

.feedback {
  margin-top: 120px;
  margin-bottom: 80px;
  display: flex;
}

.bottom-cta-block {
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 900px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  display: flex;
  position: relative;
}

.btn-sec {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  color: var(--black);
  text-align: center;
  letter-spacing: .3px;
  text-transform: uppercase;
  background-color: #ffffff4d;
  border: 1px solid #ffffff59;
  border-radius: 100px;
  padding: 16px 32px;
  font-family: DM Sans, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.btn-hover-bg {
  z-index: 1;
  background-color: var(--accent);
  border-radius: 100px;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  inset: 0%;
}

.btn-txt {
  z-index: 1;
  line-height: 2;
  position: relative;
}

.review-author {
  text-transform: uppercase;
  font-family: Nikkei, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.1;
}

.review-author-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.cta-img {
  z-index: -1;
  border-radius: 8px;
  width: 200px;
  position: absolute;
}

.btn-prim {
  border: 1px solid var(--accent);
  background-color: var(--accent);
  color: var(--white);
  letter-spacing: .3px;
  text-transform: uppercase;
  border-radius: 100px;
  padding: 16px 32px;
  font-family: DM Sans, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  transition: background-color .2s;
  position: relative;
  overflow: hidden;
}

.btn-prim:hover {
  background-color: #3a57ff;
  border-color: #3a57ff;
}

.btn-project {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: var(--white);
  background-color: #fff3;
  border-radius: 100px;
  margin-top: 16px;
  padding: 16px 32px 14px;
  position: relative;
  overflow: hidden;
}

.footer {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
}

.body-s {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.45;
}

.prelo {
  pointer-events: none;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  position: absolute;
  inset: 0%;
}

.scroll-txt-wrap {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: auto 0% 40px;
}

.scroll-txt {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Nikkei, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
}

.centered-header-wrap {
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.centered-header-wrap.chw-maxw {
  max-width: 650px;
}

.services-grid {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  margin: 80px auto;
  display: grid;
}

.heading-xs {
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: Nikkei, sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
}

.service-wrap {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  text-align: center;
  background-color: #ffffff59;
  border: 1px solid #ffffff73;
  border-radius: 12px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding: 32px;
  display: flex;
}

.container-process {
  z-index: 1;
  background-color: #ffffff59;
  border: 1px solid #ffffff59;
  border-radius: 12px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  height: 70vh;
  position: sticky;
  top: 15vh;
  box-shadow: 0 2px 10px #0000000d;
}

.process-step {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #ffffff59;
  border: 1px solid #ffffff73;
  border-radius: 12px;
  padding: 40px 32px;
  box-shadow: 0 2px 30px #58404714;
}

.process-step.process-step-last {
  margin-bottom: 24px;
}

.process-steps-wrap {
  z-index: 2;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  margin-top: 60vh;
  margin-bottom: 10vh;
  display: flex;
  position: relative;
}

.two-col-grid {
  grid-column-gap: 6vw;
  grid-row-gap: 6vw;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  height: 100%;
  display: grid;
}

.two-col-grid.two-col-grid-process {
  grid-column-gap: 10vw;
  grid-row-gap: 10vw;
  margin-top: -85vh;
  padding-left: 32px;
  padding-right: 32px;
}

.process-step-header {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  align-items: center;
  margin-bottom: 16px;
  display: flex;
}

.process-intro {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 15vh;
  display: flex;
}

.process-sticky {
  z-index: 1;
  margin-top: 20vh;
  position: sticky;
  top: 20vh;
}

.footer-wrap {
  height: 100px;
  position: relative;
}

.txt-footer {
  text-transform: uppercase;
  font-family: DM Sans, sans-serif;
  font-size: .875rem;
  font-weight: 400;
}

.contactform {
  width: 100%;
  margin-bottom: 0;
}

.input-field {
  color: var(--black);
  background-color: #ffffffa6;
  border: 1px solid #ffffffa6;
  border-radius: 12px;
  width: 100%;
  margin-bottom: 8px;
  padding: 18px 24px 15px 16px;
  font-family: DM Sans, sans-serif;
  font-size: 1.25rem;
}

.input-field:active, .input-field:focus {
  border-color: var(--accent);
  box-shadow: 0 0 0 3px #384ef833;
}

.input-field::placeholder {
  color: #838292;
}

.input-field.textarea {
  min-height: 250px;
  margin-bottom: 12px;
  padding-top: 16px;
}

.form-button-wrap {
  border-radius: 10px;
  flex-direction: column;
  display: flex;
}

.contact-buttons-wrap {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-flow: column;
  margin-top: 24px;
  display: flex;
}

.work-cta-block {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

.img-contact {
  border-radius: 12px;
  width: 300px;
}

.txt-margin-top {
  margin-top: 20px;
}

.contact-block {
  grid-column-gap: 80px;
  grid-row-gap: 64px;
  grid-template-rows: auto;
  grid-template-columns: 1fr .5fr;
  grid-auto-columns: 1fr;
  margin-bottom: 130px;
  display: grid;
}

.contact-header-wrap {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 750px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.img-contact-mobile {
  border-radius: 12px;
  width: 300px;
  display: none;
}

.contact-buttons-wrap-mobile {
  display: none;
}

.services-header-wrap {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.about-img-1 {
  z-index: 1;
  height: 100%;
  position: relative;
}

.about-btns-wrap {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 24px;
  margin-bottom: 32px;
  display: flex;
}

.btn-wrap {
  margin-top: 32px;
  overflow: hidden;
}

.btn-wrap.btn-wrap-double {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.body-story {
  margin-bottom: 0;
  font-size: 1.4rem;
  line-height: 1.6;
}

._404-wrap {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 32px;
  display: flex;
}

.img-404 {
  width: 250px;
  margin-bottom: -30px;
}

.work-header-wrap {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.body-bg-1 {
  z-index: -1;
  background-image: url('../images/bg-1.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  inset: 0%;
}

.body-bg-2 {
  z-index: -1;
  background-image: url('../images/bg-5.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  inset: 0%;
}

.body-bg-3 {
  z-index: -1;
  background-image: url('../images/bg-3.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  inset: 0%;
}

.body-bg-4 {
  z-index: -1;
  opacity: .7;
  background-image: url('../images/bg-6.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  inset: 0%;
}

.thank-you-wrap {
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

.services-features-block {
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  margin-top: 32px;
  display: grid;
}

.feature-wrap {
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.features-block {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
  display: flex;
}

.selected-projects-block {
  grid-column-gap: 80px;
  grid-row-gap: 100px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 64px;
  display: grid;
}

.selected-projects-block.slidein {
  margin-bottom: 64px;
}

.project-img {
  z-index: 0;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

.project-img-wrap {
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  height: 400px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.project-block-new {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.project-info {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.btn-small {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  color: var(--black);
  letter-spacing: .3px;
  text-transform: uppercase;
  background-color: #ffffff4d;
  border: 1px solid #ffffff59;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  height: 37px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: DM Sans, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  position: relative;
}

.project-description {
  font-size: 1.25rem;
}

.service-img {
  border-radius: 12px;
  width: 350px;
  margin-bottom: 6px;
}

.small-title-wrap {
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 3px;
  display: flex;
}

.quality-icon {
  color: var(--accent);
  justify-content: center;
  align-items: flex-end;
  width: 50px;
  height: 80px;
  margin-bottom: 8px;
  display: flex;
}

.body-xs {
  letter-spacing: -.3px;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
}

.btn-txt-overflow-wrap {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.btn-txt-hover {
  z-index: 1;
  line-height: 2;
  position: absolute;
}

.btn-txt-hover.btn-txt-hover-white {
  color: var(--grey-white);
}

.body-bg-5 {
  z-index: -1;
  opacity: .7;
  background-image: url('../images/bg-4.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  inset: 0%;
}

.about-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 800px;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.logo-txt-serif {
  text-transform: none;
  font-family: Font, sans-serif;
}

.heading-m {
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: Nikkei, sans-serif;
  font-size: 4.25rem;
  font-weight: 700;
  line-height: 1;
}

.center-btn-wrap {
  justify-content: center;
  align-items: flex-start;
  margin-top: 32px;
  display: flex;
}

.feedback-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: start center;
  display: grid;
}

.feedback-col {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  display: flex;
}

.eye-icon {
  opacity: 0;
  width: 30px;
}

.available-block {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  text-transform: uppercase;
  justify-content: flex-end;
  align-items: center;
  font-family: DM Sans, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  display: flex;
}

.av-dot {
  background-color: #6dc238;
  border-radius: 20px;
  width: 9px;
  height: 9px;
  margin-bottom: 1px;
}

.form-btn {
  padding-top: 22px;
  padding-bottom: 22px;
}

.badge-wrap {
  margin-top: -50px;
  margin-bottom: 25px;
}

.webflow-badge {
  height: 25px;
}

.about-img-wrap {
  border-radius: 12px;
  width: auto;
  height: 500px;
  margin-top: 32px;
  overflow: hidden;
}

.about-header-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 991px) {
  .cursor-wrapper {
    display: none;
  }

  .nav-menu {
    background-color: var(--black);
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .txt-on-hover {
    display: none;
  }

  .menu-line {
    background-color: #1a1a1a;
    width: 100%;
    height: 1px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .button-overlay {
    display: none;
  }

  .txt-first {
    color: var(--grey-white);
    text-transform: none;
    font-family: Font, sans-serif;
    font-size: 2rem;
    font-weight: 300;
  }

  .menu-button {
    padding: 0;
  }

  .menu-button.w--open {
    background-color: #c8c8c800;
  }

  .menu-btn-innter-wrap {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-direction: column;
    justify-content: center;
    width: 45px;
    height: 45px;
    display: flex;
  }

  .nav-left-wrap {
    order: 1;
  }

  .navlink {
    text-transform: uppercase;
    background-color: #14141400;
    font-family: Nikkei, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    display: block;
  }

  .navlink.w--current {
    background-color: #fff0;
  }

  .navlink.navlink-mobile-only {
    display: block;
  }

  .section.s-hero {
    padding-top: 200px;
  }

  .section.s-about, .section.s-contact {
    padding-top: 150px;
  }

  .logo {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    position: static;
  }

  .heading-xl {
    font-size: 5.5rem;
  }

  .body-l {
    font-size: 2.125rem;
    line-height: 1.5;
  }

  .heading-l.heading-about {
    max-width: 400px;
  }

  .project-block {
    height: 400px;
  }

  .project-title {
    font-size: 3rem;
  }

  .home-services-block {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    text-align: center;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 650px;
    margin-top: 150px;
    display: flex;
  }

  .bottom-cta-block {
    margin-top: 0;
  }

  .btn-hover-bg {
    display: none;
  }

  .services-grid {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin-top: 64px;
    display: flex;
  }

  .two-col-grid.two-col-grid-process {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
  }

  .work-cta-block {
    padding-bottom: 100px;
  }

  .img-contact {
    width: 250px;
    margin-bottom: 32px;
  }

  .contact-block {
    grid-row-gap: 32px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
    display: flex;
  }

  .contact-photo-wrap {
    display: none;
  }

  .contact-header-wrap {
    text-align: center;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 700px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .img-contact-mobile {
    width: 250px;
    margin-bottom: 12px;
    display: block;
  }

  .contact-buttons-wrap-mobile {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 12px;
    display: flex;
  }

  .services-header-wrap {
    max-width: 800px;
  }

  .body-story {
    font-size: 1.125rem;
  }

  .services-features-block {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .features-block {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .selected-projects-block {
    grid-column-gap: 32px;
  }

  .project-img-wrap {
    height: 320px;
  }

  .btn-txt-hover {
    display: none;
  }

  .feedback-grid {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .available-block {
    display: none;
  }

  .about-header-wrap {
    max-width: 550px;
  }
}

@media screen and (max-width: 767px) {
  .hero-wrap {
    height: 85vh;
  }

  .nav-container {
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
  }

  .section.s-hero {
    padding-top: 150px;
  }

  .section.s-about {
    padding-top: 120px;
  }

  .section.s-contact {
    padding-top: 100px;
  }

  .fs-cc-prefs_content {
    padding: 40px 24px 24px;
  }

  .fs-cc-banner_text-link {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .fs-cc-banner_container {
    justify-content: flex-start;
    align-items: center;
  }

  .fs-cc-banner_button {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .fs-cc-banner_component {
    padding-top: 12px;
    padding-bottom: 8px;
  }

  .heading-xl {
    font-size: 5rem;
  }

  .scroll-wrap {
    height: 170vh;
  }

  .body-l {
    font-size: 1.5rem;
  }

  .heading-l {
    font-size: 4rem;
  }

  .heading-l.heading-about {
    max-width: 350px;
  }

  .project-block {
    height: 450px;
  }

  .project-title {
    margin-bottom: 0;
  }

  .heading-s {
    margin-top: 0;
    font-size: 2.5rem;
  }

  .body-m {
    font-size: 1.25rem;
  }

  .body-m.txt-testimonials {
    line-height: 1.5;
  }

  .feedback-wrap {
    flex: none;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
  }

  .feedback {
    margin: 100px -24px 0;
    overflow: hidden;
  }

  .bottom-cta-block {
    max-width: 600px;
    height: 800px;
  }

  .cta-img {
    width: 200px;
  }

  .btn-project {
    margin-top: 12px;
  }

  .footer {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-flow: column;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .prelo {
    height: 85vh;
  }

  .services-grid {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: column;
  }

  .service-wrap {
    padding-left: 24px;
    padding-right: 24px;
  }

  .container-process {
    display: none;
  }

  .process-step {
    margin-bottom: 16px;
    overflow: hidden;
  }

  .process-steps-wrap {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .two-col-grid.two-col-grid-process {
    flex-direction: column;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    display: flex;
  }

  .process-step-header {
    justify-content: space-between;
  }

  .process-intro {
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
    font-size: 1rem;
  }

  .process-sticky {
    margin-top: 48px;
    position: static;
  }

  .footer-wrap {
    height: 150px;
  }

  .txt-footer {
    text-align: center;
    font-size: .875rem;
  }

  .work-cta-block {
    height: 700px;
  }

  .txt-margin-top {
    margin-top: 16px;
  }

  .img-contact-mobile {
    width: 230px;
  }

  .btn-wrap.btn-wrap-double {
    flex-flow: row-reverse wrap;
  }

  .body-story {
    font-size: 1.25rem;
  }

  .services-features-block {
    grid-template-columns: 1fr 1fr;
  }

  .selected-projects-block {
    grid-row-gap: 64px;
    flex-flow: column;
    margin-top: 32px;
    display: flex;
  }

  .selected-projects-block.slidein {
    margin-bottom: 32px;
  }

  .project-img {
    object-fit: fill;
  }

  .project-img-wrap {
    border-radius: 12px;
    height: auto;
  }

  .heading-m {
    margin-top: 0;
    font-size: 3rem;
  }

  .feedback-grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-right: 0;
    padding-left: 24px;
    display: flex;
    overflow: scroll;
  }

  .feedback-col {
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 24px;
  }

  .about-img-wrap {
    height: 400px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .fs-cc-banner_text-link {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .fs-cc-banner_buttons-wrapper {
    text-align: center;
  }

  .fs-cc-prefs_button {
    padding-left: 16px;
    padding-right: 16px;
  }

  .fs-cc-banner_container {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
  }

  .fs-cc-banner_button {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .fs-cc-banner_component {
    padding-top: 20px;
    left: 16px;
    right: 16px;
  }

  .heading-xl {
    font-size: 3rem;
  }

  .home-intro-wrap {
    padding-left: 16px;
    padding-right: 16px;
  }

  .heading-l {
    font-size: 3.25rem;
  }

  .heading-l.heading-about {
    max-width: 320px;
  }

  .project-block {
    height: 500px;
  }

  .project-title {
    font-size: 2.5rem;
  }

  .home-services-block {
    margin-top: 100px;
  }

  .heading-s {
    font-size: 2.5rem;
  }

  .feedback-wrap {
    width: 310px;
    max-width: 320px;
  }

  .feedback {
    margin-left: -16px;
    margin-right: -16px;
  }

  .bottom-cta-block {
    margin-top: 0;
  }

  .btn-sec {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }

  .cta-img {
    width: 180px;
  }

  .body-s {
    font-size: 1.25rem;
  }

  .centered-header-wrap.chw-maxw {
    margin-bottom: 32px;
  }

  .services-grid {
    margin-top: 32px;
  }

  .service-wrap {
    padding: 16px 16px 24px;
  }

  .process-step {
    margin-bottom: 8px;
    padding: 32px 24px;
  }

  .contact-header-wrap {
    margin-bottom: 0;
  }

  .img-contact-mobile {
    width: 180px;
  }

  .contact-buttons-wrap-mobile {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    flex-flow: column;
  }

  .services-header-wrap {
    max-width: 400px;
  }

  .about-btns-wrap {
    width: 100%;
  }

  .btn-wrap.btn-wrap-double {
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
  }

  .img-404 {
    width: 200px;
  }

  .services-features-block {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr;
  }

  .selected-projects-block {
    margin-bottom: 32px;
  }

  .quality-icon {
    margin-bottom: 0;
  }

  .btn-txt-hover {
    font-size: 1.125rem;
  }

  .heading-m {
    font-size: 2.5rem;
  }

  .feedback-grid {
    padding-left: 16px;
  }

  .feedback-col {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    padding-right: 16px;
  }

  .about-img-wrap {
    height: 300px;
  }

  .about-header-wrap {
    max-width: 330px;
  }
}

#w-node-_6527d97d-adaf-5932-ea2c-f28aee90951c-3412bec5 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_5ce367cc-21f7-5dc1-e177-df1772421e3e-72421e3b {
  justify-self: center;
}

#w-node-_4e8c96a3-cc2d-010a-58ff-d080fcc88929-06086e4d, #w-node-_4e8c96a3-cc2d-010a-58ff-d080fcc88933-06086e4d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-b666c9e8-02b0-1a5d-99f8-e5f0135657a7-534519a3 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_9929e4f6-3f04-095d-ac80-2fd337beab78-534519a3 {
  justify-self: end;
}

#w-node-_2ba65a74-d3fa-476c-f7c6-0b6536a75503-534519a3 {
  order: 0;
}


@font-face {
  font-family: 'Font';
  src: url('../fonts/Font.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nikkei';
  src: url('../fonts/PPNikkeiJournal-Ultrabold-BF660e1da2dc2af.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}